body {
  background-color: #8ca3ad;
}
.card:hover .editButtons {
  display: flex !important;
  justify-content: space-between;
}

.card.bg-dark:hover {
  transform: scale(1.05);
  transition: 0.6s ease;
  box-shadow: 7px 7px 7px rgb(73, 72, 72), -7px -7px 7px rgb(73, 72, 72);
}
